
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);


a.nav-link:hover{color: red !important; }

/*keep video without scolling to see controls DONE


ADD DOMAIN TO GIT HUB
https://medium.com/employbl/launch-a-website-with-a-custom-url-using-github-pages-and-google-domains-3dd8d90cc33b
*/



/*when hover over, black square of opacity .5 with title of project DONE
behind the popup is white background with a black border logo with title DONE
find out add script from javascript file instead having it in html page
*/
/*projects, set to filter. if click on filter, remove others and display only. similar to web assignment with cats and dogs*/
/*live instagram feed

Have images onload to display 3x3 DONE
load more button DONE
load less button DONE

*/



/*image width and height*/
a>img{
  width: 100%;/*set to fit aboutmeContainer div*/
  height: 170px;/*height of image*/
} 

/*div container and set to display none for load more button*/
.aboutmeContainer {
  position: relative;/*set position based on parent div*/
  text-align: center;/*centered around parent div*/
  border: white;/*set border around image container*/
  border-style: solid;/*border style*/
  max-width: 17%;/*limit to width not go passed 17%*/
  padding-left: 0;/*removed padding*/
  padding-right: 0;/*removed padding*/
  display: none; /*set to none for loadButton*/
}

/*instafeed container where images get rendered*/
#instafeed{
  height: 100%;/*used % instead of vh to push elements down once load more button is pressed*/
  padding-left: 50px;/*set padding*/
  width:40vw;/*set for instagram feed to take up only 40% of viewport*/
   
 
}

/*like icon*/
.fa-heart{
  position: absolute;/*position is set to specific to be in middle of image*/
  top: 40%;/*40% from the top of image element*/
  left: 43%;/*43% to left of image element*/
  transform: translate(-40%, -43%);/**/
  color: white;/**/
}
/*comment icon*/
.fa-comments{
  position: absolute;/**/
  top: 51%;/**/
  left: 44%;/**/
  transform: translate(-51%, -44%);/**/
  color: white;/**/
}

/*like string to match with like icon in middle of image*/
#like{
  position: absolute;/**/
  top: 40%;/**/
  left: 54%;/**/
  transform: translate(-40%, -54%);/**/
  color: white;/**/
}

/*like string to match with like icon in middle of image*/
#comment{
  position: absolute;/**/
  top: 51%;/**/
  left: 53%;/**/
  transform: translate(-51%, -53%);/**/
  color: white;/**/
}

.btn-success:focus{
  outline: none !important;
  box-shadow: none !important;
}
.btn-danger:focus{
  outline: none !important;
  box-shadow: none !important;
}


/*end of instagram css*/

 .container-fluid video{
    object-fit: fill;/**/
    height:95vh;/**/
    min-width: 100%; /**/
    min-height: 100%; /**/
} 
.container-fluid{
    overflow: hidden;/**/

 }
 
.navbar{
    border-bottom-color: black;
    border-width: 1px;
    border-bottom-style: solid;
    
    position: sticky;
}

#aboutme{
    padding-top: 65px;
    padding-left: 80px;
    padding-right: 80px;
}

#contactme{
    padding: 65px;
}
#projects{
    padding: 65px;
}
/*set curser to change on hover img*/
.col-md-3.m-1 > img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

/* The Close Button */
[class^=close] {
    position: absolute;
    top: 50px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
/*set curser to change on hover on close*/
[class^=close]:hover, [class^=close]:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
.modal-content, [id^=caption] {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border: none;
  }

.col-md-6.modal-content{
  border: black;
  border-style: solid;
}

/* Caption of Modal Image */
[id^=caption] {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.5); /* Black w/ opacity */
  }

  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

  @media (min-width: 1200px) { 
    .aboutmeContainer{
      max-width: 70%;
    }
    .aboutmeContainer::after{
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
     
      width: 70%; 
      left: 15%; 
      height: 100px;
      bottom: 0;
      
    }
    .aboutmeContainer {  
      /*background box*/
      -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
      -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
      box-shadow: 1px 2px 7px rgba(0, 0, 0, .5);
      padding: 10px;
      background: white;   
    }

  }

@media (max-width: 768px){
    #aboutme{
        padding-left:2px;
        padding-right: 20px;
        margin-left: 4px;
    }
    .container-fluid video{
      height: 100%;
      width: 100%;

    }
    #aboutme,#projects,#contactme{
        padding-top: 20px;
    } 
    .modal-content{
        width: 100%;
    }
    .aboutmeContainer{
        max-width: 100%;
    }
}

@media (max-width: 576px){
    #aboutme{
        padding-left: 2px;
        padding-right: 20px;
        margin-left: 4px;      
    }
    .container-fluid video{
        height: 100%;
        width: 100%;
    }
    #aboutme,#projects,#contactme{
        padding-top: 20px;
    } 
    .modal-content{
        width: 100%;
    }
    #instafeed{
        padding-left: 35px;
    }
    .aboutmeContainer{
        min-width: 100vw;
        padding-right: 40px;
    }
    a>img{
        width:100%;
    }
}