
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);


a.nav-link:hover{color: red !important; }

/*keep video without scolling to see controls DONE


ADD DOMAIN TO GIT HUB
https://medium.com/employbl/launch-a-website-with-a-custom-url-using-github-pages-and-google-domains-3dd8d90cc33b
*/



/*when hover over, black square of opacity .5 with title of project DONE
behind the popup is white background with a black border logo with title DONE
find out add script from javascript file instead having it in html page
*/
/*projects, set to filter. if click on filter, remove others and display only. similar to web assignment with cats and dogs*/
/*live instagram feed

https://medium.com/@sunilsandhu/the-simplest-way-to-add-your-very-own-custom-instagram-feed-to-your-site-c63f129140dc
set up likes and comments within image. set up css for it

Grid all even for photos
on click lightbox with picture of left and comments on right
name, follows, and likes

*/

/*end of instagram css*/

 .container-fluid video{
    object-fit: fill;
    height:95vh;
    min-width: 100%; 
    min-height: 100%; 
} 
.container-fluid{
    overflow: hidden;

 }
 
.navbar{
    border-bottom-color: black;
    border-width: 1px;
    border-bottom-style: solid;
    
    position: sticky;
}

#aboutme{
    padding: 65px;
    padding-left: 80px;
    padding-right: 80px;
}
#contactme{
    padding: 65px;
}
#projects{
    padding: 65px;
}
/*set curser to change on hover img*/
.col-md-3.m-1 > img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

/* The Close Button */
[class^=close] {
    position: absolute;
    top: 50px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
/*set curser to change on hover on close*/
[class^=close]:hover, [class^=close]:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
.modal-content, [id^=caption] {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border: none;
  }

.col-md-6.modal-content{
  border: black;
  border-style: solid;
}

/* Caption of Modal Image */
[id^=caption] {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.5); /* Black w/ opacity */
  }

  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }


@media (max-width: 768px){

    #aboutme{
        padding-left:20px;
        padding-right: 20px;
       
    }
    .container-fluid video{
      height: 100%;
      width: 100%;

  } 
}
@media (max-width: 576px){

    #aboutme{
        padding-left: 20;
        padding-right: 20;
      
    }
    .container-fluid video{
      height: 100%;
      width: 100%;

  } 
}